Package: com.sgtaziz.libwebmessage
Name: libwebmessage
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Aziz H
Author: Aziz H
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-7+debug
Installed-Size: 172
