Package: com.sgtaziz.WebMessage
Name: WebMessage
Version: 0.2.5
Description: Your messages, on every device.
Section: System
Depends: firmware (>= 12.0), openssl, com.muirey03.libmryipc, mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: sgtaziz
Homepage: 
Depiction: 
Maintainer: Aziz <sgtaziz013@gmail.com>
